body{
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    
}
.wrapp {
    position: fixed;
    display: flex;
    /* text-align: ; */
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100vw;
    z-index: 10;
    background-color: #ba1393;
}

.search-form {
    position: relative;
    align-items: center;
}

input[name='searchQuery'] {
    height: 40px;
    /* border-color: transparent;   */
}

button[type='submit'] {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    background-color: transparent;
}
/* .icon-cloud:before {
  content: "\e9c1";
} */
button[type='submit']:hover .search-svg {
    fill: #d16c78;
}
.load-more {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    background-color: #7bec8e;
    cursor: pointer;
    color: #fff;
}

.load-more:hover {
    background-color: #ba1393;
    color: #fff;
}

.load-more.is-hidden {
    display: none;
}